.richtext-outline {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
}

.share-modal {
    height: calc(-100px + 100vh);
}

.resize-handle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    background: transparent;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        /* 控制线条宽度 */
        background-color: black;
        /* 控制线条颜色 */
    }
}