# 数据库配置
[db]
host = ""
user = "postgres"
port = ""
password = ""
database = "gnote"
engine = "postgres"

# 服务器配置
[server]
debug = true
https = true # 需打开

# 缓存配置
[cache]
host = "localhost"
port = "6379"
db = 0

# 邮件配置
[email]
host = "smtp.qq.com"
port = 465
user = ''
password = ''
ssl = true

[worker]
max_workers = 10
topic = "gnote"
brokers = ""
max_retries = 3

[GeoIP]
db_path = "" # 数据库文件绝对路径

[google]
# Google客户端id
client_id = ""